<a href="https://colab.research.google.com/github/nicholasmonteiro/TrabalhoG.DataScience/blob/master/C%C3%B3pia_de_2020_1_Prova_AV2_Gesta%CC%83o_do_Conhecimento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DISCIPLINA: Gestão do Conhecimento	 PROFESSOR(A): Alex Salgado
PERÍODO: 7o. TURNO: noite AVALIAÇÃO:

ALUNO(A): _

GRAU: VISTO DO PROFESSOR:

# Questão 1 - valor (1,0)

*** Crie um repositório no Github e adicione este arquivo no mesmo


1.1 - Você deve escolher uma base de dados aberta que seja possível treinar um modelo de aprendizagem de máquina Supervisionado de Classificação (assim como o exemplo da Iris e Cancer). A partir desta base de dados, você vai treinar o modelo, fazer previsões e calcular a acurácia do mesmo.
Obs.: Não utilizar nenhuma base de dados usada em aula,  nos trabalhos ou na biblioteca do sklearn.

[link text](https://)

1.2 - Após tratada, criar uma pasta no seu GoogleDrive e disponibilizar o link do arquivo de sua base (csv, xlsx, etc) para ser importado no seu código.

In [ ]:

drive = 'https://docs.google.com/spreadsheets/d/12uOVLpNL_Z9DOLxf93VucXv_s5DUQVIAg1v8mlgNwgk/edit#gid=815227935'
print(drive)

https://docs.google.com/spreadsheets/d/12uOVLpNL_Z9DOLxf93VucXv_s5DUQVIAg1v8mlgNwgk/edit#gid=815227935

## Criar um código usando o Jupyter Notebook e responder (através de código) às seguintes questões:

# Questão 2 - valor (1,0)

2.1 - Importar os modulos python para machine learn e carregar o arquivo 

** Sugestão se for do tipo xlsx, usar o read_excel do pandas
import pandas as pd
dt = pd.read_excel("meuarquivo.xlsx")

In [ ]:
import pandas as pd

dt = pd.read_excel('/content/Incendio.xlsx')

In [ ]:
print(dt)

    month  day  FFMC  ...  RH                 wind   area
0     mar  fri  86.2  ...  51  2020-07-06 00:00:00      0
1     oct  tue  90.6  ...  33                  0.9      0
2     oct  sat  90.6  ...  33  2020-03-01 00:00:00      0
3     mar  fri  91.7  ...  97                    4      0
4     mar  sun  89.3  ...  99  2020-08-01 00:00:00      0
..    ...  ...   ...  ...  ..                  ...    ...
512   aug  sun  81.6  ...  32  2020-07-02 00:00:00   6.44
513   aug  sun  81.6  ...  71  2020-08-05 00:00:00  54.29
514   aug  sun  81.6  ...  70  2020-07-06 00:00:00  11.16
515   aug  sat  94.4  ...  42                    4      0
516   nov  tue  79.5  ...  31  2020-05-04 00:00:00      0

[517 rows x 10 columns]

2.2 - Exibir os primeiros registros desta tabela.

In [ ]:
dt.loc[[0,1,2]] 
colunas = ['month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH','wind','area']

In [ ]:
dt.columns = colunas

In [ ]:
dt.head()

  month  day  FFMC  ...  RH                 wind area
0   mar  fri  86.2  ...  51  2020-07-06 00:00:00    0
1   oct  tue  90.6  ...  33                  0.9    0
2   oct  sat  90.6  ...  33  2020-03-01 00:00:00    0
3   mar  fri  91.7  ...  97                    4    0
4   mar  sun  89.3  ...  99  2020-08-01 00:00:00    0

[5 rows x 10 columns]

In [ ]:

x = dt.iloc[0:8]
y = dt.iloc[ 8]

In [ ]:
dt.head()

  month  day  FFMC  ...  RH                 wind area
0   mar  fri  86.2  ...  51  2020-07-06 00:00:00    0
1   oct  tue  90.6  ...  33                  0.9    0
2   oct  sat  90.6  ...  33  2020-03-01 00:00:00    0
3   mar  fri  91.7  ...  97                    4    0
4   mar  sun  89.3  ...  99  2020-08-01 00:00:00    0

[5 rows x 10 columns]

2.3 - De que se trata esse banco de dados? e que tipo de previsão pode ser feito com ele?

Para mais informações, leia [Cortez e Morais, 2007].
1. Coordenada espacial do eixo X - eixo x no mapa do parque de Montesinho: 1 a 9
2. Coordenada espacial do eixo X - eixo no mapa do parque Montesinho: 2 a 9
3. mês - mês do ano: 'jan' a ' dez '
4. dia - dia da semana:' seg 'a' dom '
5. Índice FFMC - FFMC do sistema FWI: 18,7 a 96,20
6. DMC - índice DMC do sistema FWI: 1,1 a 291,3
7. DC - Índice CC do sistema FWI: 7,9 a 860,6
8. ISI - índice ISI do sistema FWI: 0,0 a 56,10
9. temperatura - temperatura em graus Celsius: 2,2 a 33,30
10. UR - umidade relativa em%: 15,0 a 100
11. vento - velocidade do vento em km / h: 0,40 a 9,40
12. chuva - chuva externa em mm / m2: 0,0 a 6,4
13. área - a área queimada da floresta (em ha): 0,00 a 1090,84
(essa variável de saída é muito inclinada para 0,0, portanto, pode fazer
sentido modelar com a transformação do logaritmo).

# Questão 3 - valor (0,5)

Utilizando as terminologias de Machine Learning(features e observações):

3.1 - Quantas "features" têm nessa base de dados?

In [ ]:
#12

3.2 - Quantas observações têm nessa base de dados?

In [ ]:
dt.shape

(517, 1)

# Questão 4 - valor (1,0)

4.1 - Faça uma previsão, usando o algoritmo de LogisticRegression.

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [ ]:
logreg = LogisticRegression(max_iter=5000)
logreg.fit(x, y)
logreg.predict(x)

ValueError: ignored

# Questão 5 - valor (1,5)

Usando o método de avaliação de acurácia (Treinar e testar na base de dados inteira/Train test entire model), Calcular a acurácia de cada um dos 3 métodos abaixo.

4.1 - Acurácia usando o algoritmo de KNN (com 1 vizinho, k=1)

4.2 - Acurácia usando o algoritmo de KNN (com 5 vizinho, k=5)

4.3 - Acurácia usando o algoritmo de LogisticRegression

4.4 - De acordo com seus resultados anteriores, qual dos 3 métodos é mais eficiente?

In [ ]:
*** Envie o link do seu Github com essa resposta no Classroom